@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */


@font-face {
  font-family: "Nunito";
  src: url("../fonts/Nunito-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Baloo";
  src: url("../fonts/Baloo-Regular-webfont.woff");
}

nav .active:before {
  content: "";
  position: absolute;
  top: -60px;
  right: 0px;
  height: 60px;
  width: 40%;
  background: transparent;
  z-index: -1;
  border-bottom-right-radius: 50%;
  box-shadow: 0 30px 0 0 #F2F8F2;
}

nav .active:after {
  content: "";
  position: absolute;
  top: 64px;
  z-index: -1;
  right: -2px;
  height: 80px;
  width: 40%;
  background: transparent;
  border-top-right-radius: 50%;
  box-shadow: 0 -30px 0 0 #F2F8F2;
}